
.ant-spin-nested-loading {
  flex: 1;
}

.app_home {
  flex:auto;
  min-height: 100%;
  $previewWidth:292px;
  .app_List{
    width: 70%;
    padding-left: 50px;
  }
  .appList_item {
    position: relative;
    border: 1px solid #ebedf0;
    padding: 16px 24px;
    margin-bottom: 10px;
    transition: all 0.2s linear;
    &:hover {
      background: #effbff;
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
      transform: translate3d(0, -5px 0);
    }
    .title {
      color: #394d69;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2;
      cursor: pointer;
      &:hover {
        color: #48b2ff;
      }
    }
    .article_detail {
      cursor: pointer;
      max-height: 260px;
      overflow: hidden;
      margin-bottom: 15px;
    }
    .list_item_others {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      vertical-align: middle;
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.5);
      a {
        color: inherit;
      }
      div {
        margin-right: 2rem;
      }
    }
  }
}



.ant_list {
  .ant-spin-nested-loading {
    margin: 20px 20px ;
  }

  .ant_list_pagination {
    margin-bottom: 50px;
  }
}

.ant_list_item_meta {
  margin-bottom: 20px;
}

.ant_list_item_action {
  padding-bottom: 20px;
}

.ant_menu_item {
  width: 100px;
  font-size: 15px;
  .ant_menu_item_icon {
    padding-left: 3px;
    margin-right: 10px;
  }
}


@media screen and (max-width: 990px){
  .app_List {
    width: 90% !important;
  }
}
