.form {
  &>div {
    &>span  {
      display: block;
      font-size: 18px;
      margin: 20px 0 20px 1rem;
    }
    :global {
      .ant-upload {
        flex-direction: column;
        img {
          display: block;
        }
      }
    }
  }
  .avatar {
    &>div {
      width: 155px !important;
      height: 155px !important;

    }
  }
  .warn {
    font-size: 16px;
    text-align: center;
  }

}
